/* 3x3 그리드 */
.grid-container {
  width: 30rem;
  height: 30rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  margin: 5rem;
}
.item1 {
  height: 100%;
  background-color: green;
  color: #fff;
  text-align: center;
  grid-column: 2/4;
  grid-row: 1/3;
}
.item2 {
  height: 100%;
  background-color: green;
  color: #fff;
  text-align: center;
  grid-column: 1/2;
  grid-row: 3/4;
}
.item3 {
  height: 100%;
  background-color: green;
  color: #fff;
  text-align: center;
  grid-column: 2/-1;
  grid-row: 1/-1;
}
.item4 {
  height: 100%;
  background-color: green;
  color: #fff;
  text-align: center;
  grid-column: 1/2;
  grid-row: 3/4;
}
.item5 {
  height: 100%;
  background-color: green;
  color: #fff;
  text-align: center;
  grid-column: 2/span 2;
  grid-row: 1/3;
}
.item6 {
  height: 100%;
  background-color: green;
  color: #fff;
  text-align: center;
  grid-column: 1/2;
  grid-row: 3/4;
}